* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 101%;
}

body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.left-column {
  flex: 0 0 200px;
  text-align: left;
  font-size: 12px;
}

.left-column img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.right-column {
  margin: 0 auto;
  text-align: left;
}

header {
  margin-bottom: 1.618rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #000;
  border-radius: 8px 8px 0 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
  font-weight: 600;
}

h2 {
  font-size: 1.618rem;
  margin: 0rem 0 1rem 0;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 1.309rem;
  margin: 0 0 0.6rem 0;
  font-weight: 500;
}

.right-column p {
  margin-bottom: 0.618rem;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #1a4e8a;
}

.right-column p a {
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 2px solid #007acc;
  outline-offset: 2px;
}

.intro article {
  padding: 1em;
}

.projects article {
  padding: 0.618rem 1rem 0.618rem 1rem;
}

.languages {
  vertical-align: super;
  font-size: 11px;
}

.tech-stack {
  font-size: 0.8rem;
  font-weight: 400;
}

.open-tab {
  font-variant-position: super;
  font-size: 12px;
  color: blue;
}

.colophon code {
  font-size: 10px;
}

.colophon p {
  font-size: 12px;
}

.contact {
  margin: 1rem 0 0 0;
}

/* Responsive Design */
@media (max-width: 576px) {
  body {
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .left-column img {
    max-width: 250px;
  }

  .right-column {
    flex: none;
  }
}
